* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/*? Variables */
:root {
  --primary-teal: #00b8b8;
  --dark-text: #2d4a52;
  --light-text: #6b7280;
  --bg-gradient-start: #b5ece6;
  --bg-gradient-end: #d9f4f1;
}

body {
  width: 100%;
  background-color: #ffffff;
}

/*! Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto 20px auto;
  padding: 15px 0 0 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.8rem;
  font-weight: 800;
  color: #000;
}

.nav-links {
  display: flex;
  gap: 28px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #111;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: var(--primary-teal);
}

.btn {
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  background-color: var(--primary-teal);
  color: transparent;
}
.btn::before {
  content: "Book Your Visit";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transform: translateY(0);
  transition: transform 0.5s ease;
}
.btn::after {
  content: "Book Your Visit";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #009999;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}
.btn:hover::before {
  transform: translateY(100%);
}
.btn:hover::after {
  transform: translateY(0);
}

/*todo Hero Section Styles */
.hero-container {
  background: #89e0df;
  background: linear-gradient(
    180deg,
    rgb(147, 221, 220) 0%,
    rgba(174, 230, 230, 1) 46%,
    rgba(229, 247, 245, 1) 100%
  );
  border-radius: 15px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 40px 40px;
}

.hero-top-row {
  display: flex;
  width: 100%;
  align-items: center;
}

.hero-content {
  padding-right: 20px;
  flex: 1;
}

.subtitle {
  color: var(--primary-teal);
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 16px;
}

.hero-content h1 {
  font-size: 53px;
  color: var(--dark-text);
  line-height: 1.15;
  margin-bottom: 24px;
  font-weight: 700;
}

.description {
  color: var(--light-text);
  line-height: 1.7;
  margin-bottom: 35px;
  font-size: 17px;
  max-width: 90%;
}
.btn2 {
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  background-color: var(--primary-teal);
  color: transparent;
}
.btn2::before {
  content: "Book Appointment";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transform: translateY(0);
  transition: transform 0.5s ease;
}
.btn2::after {
  content: "Book Appointment";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #009999;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}
.btn2:hover::before {
  transform: translateY(100%);
}
.btn2:hover::after {
  transform: translateY(0);
}
/* Reviews Section */
.reviews-wrapper {
  margin-top: 30px;
  padding-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 15px;
  color: var(--dark-text);
}

.reviews-wrapper span {
  font-weight: 600;
}

.rating-number {
  font-weight: 700;
  margin-left: 5px;
}

.stars {
  display: flex;
  gap: 4px;
  color: #ffc107;
}

.review-count {
  color: var(--light-text);
  margin-left: 10px;
}
.hero-images {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex: 1;
}

.img-col {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}

.col-right {
  margin-top: 30px;
  display: flex;
  align-items: start;
}

.img-col img {
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.img-1 {
  width: 200px;
  height: 170px;
}
.img-2 {
  width: 230px;
  height: 240px;
}
.img-3 {
  height: 250px;
  width: 260px;
}
.img-4 {
  width: 170px;
  height: 180px;
}
.expertise-div {
  width: 100%;
}

.expertise-div h2 {
  color: var(--dark-text);
  font-size: 28px;
  margin-bottom: 35px;
  font-weight: 700;
}

.expertise-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 60px;
}

.expertise-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
}

.expertise-title {
  color: var(--dark-text);
}

.expertise-percent {
  color: var(--light-text);
}

.progress-bar-track {
  background-color: rgba(0, 0, 0, 0.08);
  height: 6px;
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
}

.progress-bar-fill {
  background-color: var(--primary-teal);
  height: 100%;
  width: 0%;
  border-radius: 4px;
  transition: width 1.5s cubic-bezier(0.22, 1, 0.36, 1);
}
/*todo services Section Styling */
.services-section {
  padding: 80px 20px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.services-subtitle {
  color: #0cb8b6;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.services-title {
  color: #2b4356;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 50px;
}
.cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.card {
  width: 360px;
  height: 300px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
  background-color: #eef2f5;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 0.6s ease;
}
.card:hover img {
  transform: scale(1.1);
  transition: all 0.6s ease;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(12, 184, 182, 1) 5%,
    rgba(12, 184, 182, 0.6) 35%,
    transparent 65%
  );
}
.card-content {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  background-color: #ffffff;
  border-radius: 20px 20px 0 0;
  padding: 35px 25px 25px 25px;
  text-align: left;
}
.arrow-btn {
  position: absolute;
  top: -25px;
  right: 25px;
  width: 50px;
  height: 50px;
  background-color: #0cb8b6;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(12, 184, 182, 0.3);
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}
.arrow-btn:hover {
  transform: scale(1.05);
  background-color: #0a9b9a;
}
.arrow-btn svg {
  width: 22px;
  height: 22px;
}
.card-content h3 {
  color: #2b4356;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}
.card-content p {
  color: #7a8288;
  font-size: 14px;
  line-height: 1.6;
}
/* todo process Section Styling */
.process-section {
  background-color: #0cb8b6;
  color: #ffffff;
  padding: 80px 20px;
  text-align: center;
}
.section-header {
  margin-bottom: 60px;
}
.section-subtitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: white;
}
.section-title {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: white;
}
.steps-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}
.step {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  padding: 0 10px;
}
.icon-circle {
  background-color: #ffffff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}
.icon-circle .fa-eye,
.fa-heart-pulse,
.fa-glasses,
.fa-calendar-check {
  width: 36px;
  height: 36px;
  color: #0cb8b6;
}
.step h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
.step p {
  font-size: 12px;
  line-height: 1.6;
  color: #e5fdfc;
}
.arrow-separator {
  display: flex;
  align-items: center;
  height: 80px;
}
.arrow-icon {
  width: 40px;
  height: 20px;
  color: white;
  margin: 105px 0 0 0;
}
/* todo about section styling  */
.about-section {
  display: flex;
  min-height: 600px;
  background-color: #daf5f3;
}
.about-content {
  flex: 1;
  padding: 80px 60px 80px 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-subtitle {
  color: #0cb8b6;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 16px;
}
.about-title {
  color: #2b4356;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 24px;
  letter-spacing: -0.5px;
}
.about-text {
  color: #84929b;
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 40px;
  max-width: 550px;
}
.signature img {
  width: 40%;
}
.about-image-wrapper {
  flex: 1.4;
  position: relative;
}
.about-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/* todo appointment Section Styling */
.appointment-section {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}
.appointment-container {
  display: flex;
  gap: 60px;
  max-width: 1200px;
  width: 100%;
  align-items: flex-start;
}
.appointment-info {
  flex: 0 0 40%;
}
.appointment-info h2 {
  color: #2b4356;
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 15px;
  letter-spacing: -0.5px;
}
.appointment-info p {
  color: #7a8288;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.6;
}
.phone-link {
  color: #7a8288;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 35px;
}
.phone-link:hover{
  color: #0cb8b6;
  transition: color 0.3s ease;
}
.appointment-info h3 {
  color: #2b4356;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}
.hours-list {
  list-style: none;
  width: 100%;
}
.day-container-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #f0f0f0;
  font-size: 15px;
}
.last-day-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  font-size: 15px;
}
.day-container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #7a8288;
}
.day-container .fa-clock {
  color: #0cb8b6;
  width: 16px;
  height: 16px;
}
.time {
  color: #0cb8b6;
  font-weight: 500;
}
.appointment-form-wrapper {
  flex: 1;
  padding-top: 10px;
}
.form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
input,
select,
textarea {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #f0f0f0;
  background-color: #fafbfc;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #555;
  outline: none;
  transition: border-color 0.3s ease;
}
input:focus,
select:focus,
textarea:focus {
  border-color: #0cb8b6;
}
textarea {
  resize: vertical;
  min-height: 120px;
}
.select-wrapper {
  position: relative;
  flex: 1;
}
.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
.select-wrapper .fa-angle-down {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  color: #0cb8b6;
}

.input-icon-wrapper {
  position: relative;
  flex: 1;
}
.input-icon-wrapper input {
  padding-right: 40px;
}
.input-icon-wrapper .fa-calendar {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  color: #2b4356;
}
.w-100 {
  width: 100%;
}
.flex-1 {
  flex: 1;
}
.submit-btn {
  background-color: #0cb8b6;
  color: #ffffff;
  border: none;
  padding: 14px 30px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  display: inline-block;
  margin-top: 5px;
}
.submit-btn:hover {
  background-color: #0a9b9a;
  transform: translateY(-2px);
}
